services:
  app_proxy:
    environment:
      APP_HOST: formicaio-apps-formicaio_formicaio_proxy_1
      APP_PORT: 52101
    container_name: formicaio-apps-formicaio_app_proxy_1
  formicaio_proxy:
    image: bochaco/formicaio_proxy:0.3.0@sha256:49a8f7b1787aa356c9c444fe75b90fbd09da4d9a0be00c3f753e997a3196e1f9
    user: 1000:1000
    environment:
      FORMICAIO_ADDR: host.docker.internal:3100
      FORMICAIO_PROXY_PORT: 52101
    extra_hosts:
      - host.docker.internal:host-gateway
    container_name: formicaio-apps-formicaio_formicaio_proxy_1
  formicaio:
    image: bochaco/formicaio:0.7.7-native@sha256:e7b0108b63a7fdd05ce74aef768d9b64c2a90ce52816cdf1f6dd39667ca9c266
    privileged: true
    restart: on-failure
    network_mode: host
    stop_grace_period: 5s
    environment:
      DB_PATH: /data
      NODE_MGR_ROOT_DIR: /data
      LEPTOS_SITE_ADDR: 0.0.0.0:3100
    volumes:
      - ${APP_DATA_DIR}/data/formicaio:/data
    devices:
      - /dev:/dev
    container_name: formicaio-apps-formicaio_formicaio_1
